*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

.container{
    background-color: white;
    width: 100%;
    height: 300px;
    border-top: 4px  solid blue ;
    border-bottom: 4px  solid blue ;
}

.menu{
    background-color: rgb(134, 54, 54);
    width: 500px;
    height: 100%;
  
}

li a{
    color: white;
    
}

.menu >ul> li{
   border-bottom: 1px solid white;
    padding: 15px;
}

.menu ul > li:hover{
    background-color: red;

}

.menu ul > li:hover > a{
    color: yellow;
}



.TKW, .TLCSS{
    position: relative;
}

.TKW > ul >li, .menu-child-child>li{
    border-bottom: 1px solid white;
 
}

.menu-child, 
.menu-child-child{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.TKW:hover .menu-child, 
.TLCSS:hover .menu-child-child{
    display: block;
    background-color: rgb(134, 54, 54);
}

.TKW > ul > li, .TLCSS > ul > li{
    width:400px;
    height: 49px;
    line-height: 49px;
}

/* .TKW ul li a{
    padding: 8px 150px 8px 0;/*dù có tăng padding lên bao nhiêu thì cái khung chứa chữ của thẻ a nó vẫn không thay đổi??*/

 */
.menu-child-child li:last-child {
    border-bottom: none;
}

